kicad/m1d1_36/_autosave-m1d1_36.kicad_pcb
kicad/m1d1_36/_autosave-m1d1_36.sch
kicad/m1d1_36/#auto_saved_files#
kicad/m1d1_36/~_autosave-m1d1_36.kicad_pcb.lck
kicad/m1d1_36/~m1d1_36.sch.lck
kicad/m1d1_36/m1d1_36-rescue.kicad_sym
kicad/m1d1_36/sym-lib-table
kicad/m1d1_36/m1d1_36-backups/m1d1_36-2024-07-29_123050.zip
